﻿
<style>
    .ctd {
        border: 1px solid #eee;
        text-align: center;
    }

    .ctd-empty {
        border: 0px solid #eee;
        text-align: center;
    }

    .ctr {
        /*height:30px;*/
    }

    .ctd-center {
        background-color: lightseagreen;
    }

    .ctd-selected {
        background-color: red;
    }

    ._tbl1 td {
        font-size: 13px;
        padding: 3px !important;
    }

    ._tbl1 tr {
        height: 55px;
    }
</style>
<div ng-controller="ldgAdd2Controller">
    <div id="popup_add" dx-popup="popup_add" class="no-padding">
        <div style="padding:5px;">

            <div id="scroll_ldgadd" dx-scroll-view="scroll_ldgadd" style="margin-top:5px">

                <table style="margin-top:10px;border:0px solid #eee;width:100%;color:lightgray" class="dx-border _tbl1">
                    <tr style="border-bottom:1px solid gray">
                        <td style="padding: 7px;text-align:center; font-weight: bold">Reg</td>
                        <td style="padding:7px;text-align:left;"><div dx-text-box="txt_reg" class="center"></div></td>
                        <td style="padding: 7px;text-align:center; font-weight: bold"> Airport </td>
                        <td style="padding:7px;text-align:left;"><div dx-text-box="txt_airport" class="center"></div></td>
                        <td style="padding: 7px;text-align:center; font-weight: bold"> Date </td>
                        <td style="padding:7px;text-align:left;"><div dx-date-box="txt_date" class="center"></div></td>
                        <td style="padding: 7px;text-align:center; font-weight: bold"> Flt No </td>
                        <td style="padding:7px;text-align:left;"><div dx-text-box="txt_fltNo" class="center"></div></td>
                    </tr>

                    <tr style="border-bottom:1px solid gray">
                        <td style="padding: 7px;text-align:center; font-weight: bold"> Land Wt </td>
                        <td style="padding:7px;text-align:left;" colspan="1"><div dx-text-box="txt_ATWeight" class="center"></div></td>
                        <td style="padding: 7px;text-align:center; font-weight: bold"> Flaps </td>
                        <td style="padding:7px;text-align:left;"><div dx-text-box="txt_flap" class="center"></div></td>
                        <td style="padding: 7px;text-align:center; font-weight: bold"> V App </td>
                        <td style="padding:7px;text-align:left;"><div dx-text-box="txt_app" class="center"></div></td>
                        <td colspan="2"></td>
                    </tr>
                    <tr style="height:35px !important">
                        <td style="padding: 7px;text-align:center; font-weight: bold;background:gray" colspan="8">Missed approach </td>

                    </tr>
                    <tr style="border-bottom:1px solid gray">
                        <td style="padding: 7px;text-align:center; font-weight: bold">V G/A</td>
                        <td style="padding:7px;text-align:left;"><div dx-text-box="txt_vga" class="center"></div></td>
                        <td style="padding: 7px;text-align:center; font-weight: bold"> V slats </td>
                        <td style="padding:7px;text-align:left;"><div dx-text-box="txt_vslats" class="center"></div></td>
                        <td style="padding: 7px;text-align:center; font-weight: bold"> V flaps </td>
                        <td style="padding:7px;text-align:left;"><div dx-text-box="txt_vflaps" class="center"></div></td>
                        <td style="padding: 7px;text-align:center; font-weight: bold"> V clean </td>
                        <td style="padding:7px;text-align:left;"><div dx-text-box="txt_vclean" class="center"></div></td>
                    </tr>
                    <tr style="height:35px !important">
                        <td style="padding: 7px;text-align:center; font-weight: bold;background:gray" colspan="8">ATIS </td>

                    </tr>
                    <tr style="border-bottom:1px solid gray">
                        <td style="padding: 7px;text-align:center; font-weight: bold">Info</td>
                        <td style="padding:7px;text-align:left;"><div dx-text-box="txt_info" class="center"></div></td>
                        <td style="padding: 7px;text-align:center; font-weight: bold"> Time </td>
                        <td style="padding:7px;text-align:left;"><div dx-text-box="txt_ctime" class="center"></div></td>
                        <td style="padding: 7px;text-align:center; font-weight: bold"> RWY </td>
                        <td style="padding:7px;text-align:left;"><div dx-text-box="txt_rw" class="center"></div></td>
                        <td style="padding: 7px;text-align:center; font-weight: bold">T.L. </td>
                        <td style="padding:7px;text-align:left;"><div dx-text-box="txt_tl" class="center"></div></td>
                    </tr>

                    <tr style="border-bottom:1px solid gray">
                        <td style="padding: 7px;text-align:center; font-weight: bold"> Wind </td>
                        <td style="padding:7px;text-align:left;"><div dx-text-box="txt_wind" class="center"></div></td>
                        <td style="padding: 7px;text-align:center; font-weight: bold"> Vis </td>
                        <td style="padding:7px;text-align:left;"><div dx-text-box="txt_visibility" class="center"></div></td>
                        <td style="padding: 7px;text-align:center; font-weight: bold"> Temp </td>
                        <td style="padding:7px;text-align:left;"><div dx-text-box="txt_temp" class="center"></div></td>
                        <td style="padding: 7px;text-align:center; font-weight: bold"> QNH </td>
                        <td style="padding:7px;text-align:left;"><div dx-text-box="txt_qhn" class="center"></div></td>
                    </tr>
                    <tr style="height:35px !important">
                        <td style="padding: 7px;text-align:left; font-weight: bold" colspan="8"> Other info. </td>

                    </tr>
                    <tr style="border-bottom:1px solid gray">
                        <td style="padding:7px;text-align:left;" colspan="8"><div dx-text-box="txt_wx" class="center"></div></td>
                    </tr>


                </table>


            </div>
            <div style="clear:both"></div>
        </div>
    </div>


    <div dx-load-panel="loadPanel"></div>
</div>
